{% extends 'base.html' %}
{% load static %}

{% block body %}
    
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>MEMBERSHIP</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Courses area start -->
    
    <section class="pricing-area section-padding30 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle text-center mb-55">
                        <h2>Membership</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img src="{% static 'assets/img/icon/price.svg' %}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">6 month</span>
                                <p class="mb-25">&#8377 500/month <span>Cardio</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Home workout</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>No equipments Require</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Good for Heart</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Weight losing classes</p>
                                    </div>
                                </div>
                                
                                <a href="{% url 'register' %}" class="border-btn border-btn2">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img src="{% static 'assets/img/icon/price.svg' %}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">6 month</span>
                                <p class="mb-25">&#8377 500/month <span>Yoga</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Home workout</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>No equipments Require</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Good for Heart</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Weight losing classes</p>
                                    </div>
                                </div>
                                
                                <a href="{% url 'register' %}" class="border-btn border-btn2">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="properties__card">
                            <div class="about-icon">
                                <img src="{% static 'assets/img/icon/price.svg' %}" alt="">
                            </div>
                            <div class="properties__caption">
                                <span class="month">6 month</span>
                                <p class="mb-25">&#8377 500/month <span>Weght Loss</span></p>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Home workout</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>No equipments Require</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Good for Heart</p>
                                    </div>
                                </div>
                                <div class="single-features">
                                    <div class="features-icon">
                                        <img src="{% static 'assets/img/icon/check.svg' %}" alt="">
                                    </div>
                                    <div class="features-caption">
                                        <p>Weight losing classes</p>
                                    </div>
                                </div>
                                
                                <a href="{% url 'register' %}" class="border-btn border-btn2">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses area End -->
    <!-- ? services-area -->
    <section class="services-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40">
                        <div class="features-icon">
                            <img src="assets/img/icon/icon1.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Location</h3>
                            <p>You’ll look at graphs and charts in Task One, how to approach </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40">
                        <div class="features-icon">
                            <img src="assets/img/icon/icon2.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Phone</h3>
                            <p>(90) 277 278 2566</p>
                            <p>  (78) 267 256 2578</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40">
                        <div class="features-icon">
                            <img src="assets/img/icon/icon3.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <h3>Email</h3>
                            <p>jacson767@gmail.com</p>
                            <p>contact56@zacsion.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}